{% extends "base.html" %}
{% load staticfiles %}
    {% block context %}
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle图标上面的一行空白 -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor">观测博主列表</h3>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <a onclick="diag()" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> 添加博主</a>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <!--<h4 class="card-title">观测博主列表</h4>-->
                                <h6 class="card-subtitle"></h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        {% if page.object_list|length > 0 %}
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>观测博主ID</th>
                                                <th>观测博主昵称</th>
                                                <th>添加时间</th>
                                                <th>上次观测时间</th>
                                                <th>已观测次数</th>
                                                <th>观测频率</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for observe in page.object_list %}

                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{observe.user_id}}</td>
                                                {% if observe.is_exist == 1%}
                                                     <td><a href="{{ observe.get_absolute_url2 }}" target="_parent">{{observe.nick_name}}</a></td>
                                                {% else %}
                                                    <td>{{observe.nick_name}}</td>
                                                {% endif%}
                                                <td>{{observe.add_time}}</td>
                                                <td>{{observe.crawl_time}}</td>
                                                <td>{{observe.crawl_count}}</td>
                                                <td><select name="selectSm" onchange="updateFrequency(this.value,{{observe.user_id}})" id="selectSm" class="form-control-sm form-control">
                                                <option value={{observe.frequency.frequency_id}} selected>{{observe.frequency.frequency_value}}小时(当前值)</option>
                                            </select></td>
                                                <td><a href="{{ observe.get_absolute_url }}" target="_parent">删除</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        {% else %}
                                        <p class="m-t-10"> 暂时没有发现观测的博主~ </p>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>

                             <!--下面是分页-->
                            <div class="pagination-simple" align="center">
                              <!-- 如果当前页还有上一页，显示一个上一页的按钮 -->
                              {% if page.has_previous %}
                                <a href="?page=1">首页</a>
                                <a href="?page={{ page.previous_page_number }}">上一页</a>
                              {% endif %}
                              <!-- 显示当前页面信息 -->
                              <span class="current">第 {{ page.number }} 页 / 共 {{ page.paginator.num_pages }} 页</span>
                              <!-- 如果当前页还有下一页，显示一个下一页的按钮 -->
                              {% if page.has_next %}
                                <a href="?page={{ page.next_page_number }}">下一页</a>
                                <a href="?page={{ page.paginator.num_pages }}">尾页</a>
                              {% endif %}
                    </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->

    {% endblock context %}

{% block javascript %}
    <script type="text/javascript">
//$(document).ready(function(){
    $.get("/self/getFrequencyList/", function(data){
            <!--$('#result').html(ret)-->
            console.log(data)
            for (var i = 0; i < data.length; i++) {
                //console.info(data[i].nick_name);
                var pOption = "<option value='"+data[i].frequency_id+"'>"+data[i].frequency_value+"小时"+"</option>";
                $("select#selectSm").append(pOption);
            }
        })
       // });
function updateFrequency(frequency_id,user_id){
    $.get("/self/updateFrequency/",{frequency_id:frequency_id,user_id:user_id},function(arg){
            <!--$('#result').html(ret)-->
            var callback_dic = $.parseJSON(arg);
                if(callback_dic.status){
                    location.href="/self";
                }else{
                    //alert(callback_dic.error); //把错误的信息从后台提出展示出来
                    $("#selfsmallmodalLabel").text("更新失败");
                    $("#selfInfoDetailLabel").text(callback_dic.error);
                    $('#selfSmallModal').modal();
                }

        })

}

        function diag()
{
    $("#selfModalLabel").text("新增博主");
    $('#selfModal').modal();
}

function add_observer()
{
  var user_id =  document.getElementById("txt_user_id").value//$('#txt_user_id').value
  $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});
  $.ajax({
            url:"/self/addObserver/",
            type:'POST',
            data:{user_id:user_id},
            success: function (arg) {    //如果程序执行成功就会执行这里的函数
                var callback_dic = $.parseJSON(arg);
                if(callback_dic.status){
                    location.href="/self";
                }else{
                    //alert(callback_dic.error); //把错误的信息从后台提出展示出来
                    $("#selfsmallmodalLabel").text("新增失败");
                    $("#selfInfoDetailLabel").text(callback_dic.error);
                    $('#selfSmallModal').modal();
                }
            }

        });
}

    </script>


<div class="modal fade" id="selfModal" tabindex="-1" role="dialog" aria-labelledby="selfModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="selfModalLabel">新增</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txt_user_id">博主ID</label>
                        <input type="text" name="txt_departmentname" class="form-control" id="txt_user_id" placeholder="博主ID">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" onclick="add_observer()" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
        </div>
    </div>


<div class="modal fade" id="selfSmallModal" tabindex="-1" role="dialog" aria-labelledby="selfsmallmodalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="selfsmallmodalLabel">新增失败</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body" id = "selfInfoDetailLabel">
                            <p>
                               新增失败！
                            </p>
                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock javascript %}