{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon 这里是网页的图标 -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'index/assets/images/weibo.jpg' %}">
    <title>微博指数</title>
    <!-- Bootstrap Core CSS主要的布局 -->
    <link href="{% static 'index/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{% static 'index/assets/plugins/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'index/assets/plugins/chartist-js/dist/chartist-init.css' %}" rel="stylesheet">
    <link href="{% static 'index/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="{% static 'index/assets/plugins/c3-master/c3.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'index/css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'index/css/colors/blue.css' %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->

        <!--这是第一部分最上面-->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo 对应左上角logo-->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->

                            <!-- Light Logo icon -->
                            <img src="{% static 'index/assets/images/WB_logo.png' %}" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                       </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items 这是对应搜索-->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <!--0426修改 去除搜索-->
                        <!--<li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>-->
                            <!--<form class="app-search">-->
                                <!--<input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a> </form>-->
                        <!--</li>-->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search  这是对应右上角头像 -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <!--0426修改 去除头像显示-->
                                <!--<img src="{% static 'index/assets/images/users/1.jpg' %}" alt="user" class="profile-pic m-r-10" />-->
                                {% if request.session.is_login %}欢迎您, {{ request.session.my_phone }} {% else %}<a style="color:white;" href="/self/login" target="_parent">登录</a> | <a style="color:white;" href="/self/register" target="_parent">注册</a> {% endif %}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  这是左边栏-->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="/" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">首页</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" onclick="search_blog_data_diag()" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">微博数据</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" onclick="search_blogger_data_diag()" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">博主数据</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" onclick="search_tianchi_blogger_data_diag()" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">博主数据(天池)</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" onclick="search_blogger_homepage_diag()" aria-expanded="false"><i class="mdi mdi-emoticon"></i><span class="hide-menu">博主主页</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/self" aria-expanded="false"><i class="mdi mdi-earth"></i><span class="hide-menu">关注列表</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/self/selfCenter" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">个人中心</span></a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points 左边栏下面的三个-->
            <div class="sidebar-footer">
                <!--0426修改 去除两个图标-->
                <!--&lt;!&ndash; item&ndash;&gt;<a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>-->
                <!--&lt;!&ndash; item&ndash;&gt;<a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>-->
                <!-- item--><a href="/self/logout" class="link" data-toggle="tooltip" title="退出登录"><i class="mdi mdi-power"></i></a> </div>
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->

                <div class="page-wrapper" style="min-height: 517px;">
                    {% block context %}
                    {% endblock context %}
                <footer class="footer">
                © 2019 基于新浪微博的数据分析与预测平台
                </footer>
                </div>


        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'index/assets/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'index/assets/plugins/bootstrap/js/tether.min.js' %}"></script>
    <script src="{% static 'index/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'index/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'index/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'index/js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'index/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'index/js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="{% static 'index/assets/plugins/chartist-js/dist/chartist.min.js' %}"></script>
    <script src="{% static 'index/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <!--c3 JavaScript -->
    <script src="{% static 'index/assets/plugins/d3/d3.min.js' %}"></script>
    <script src="{% static 'index/assets/plugins/c3-master/c3.min.js' %}"></script>
    <!-- Chart JS -->
    <script src="{% static 'index/js/dashboard1.js' %}"></script>

    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script src="{% static 'index/js/echarts-wordcloud.js' %}"></script>
<script type="text/javascript">
            function search_tianchi_blogger_data_diag()
            {
            $("#smallmodalLabelnobutton").text("加载中");
            $("#infoDetailLabelnobutton").text("加载中，请稍候...");
            $('#smallmodalnobutton').modal('show');
            $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});
              $.ajax({
                        url:"/getTianchiBloggerOption/",
                        type:'POST',
                        success: function (arg) {    //如果程序执行成功就会执行这里的函数
                            $('#smallmodalnobutton').modal('hide');
                            var callback_dic = $.parseJSON(arg);
                            if(callback_dic.status){
                                var data = callback_dic.data
                                if (data.length >0){
                                    for (var i = 0; i < data.length; i++) {
                                        //console.info(data[i].nick_name);
                                        var pOption = "<option value='"+data[i].uid+"'>"+data[i].uid+"</option>";
                                        $("#selectOptionId").append(pOption);
                                    }
                                    console.info($("#selectOptionId").text())
                                    $("#myModalLabel").text("查看博主数据(天池)");
                                    $("#input_type_name").text("请选择博主");
                                    $("#btn_submit").text("确认");
                                    $('#myModal').modal();
                                }
                                else{
                                    $("#smallmodalLabel").text("失败");
                                    $("#infoDetailLabel").text("当前您未关注任何博主，请先添加观测！");
                                    $('#smallmodal').modal();
                                }

                            }else{
                                //alert(callback_dic.error); //把错误的信息从后台提出展示出来
                                $("#smallmodalLabel").text("失败");
                                $("#infoDetailLabel").text(callback_dic.error);
                                $('#smallmodal').modal();
                            }
                        }

                    });
            }
            function search_blogger_data_diag()
            {
            $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});
              $.ajax({
                        url:"/getBloggerOption/",
                        type:'POST',
                        success: function (arg) {    //如果程序执行成功就会执行这里的函数
                            var callback_dic = $.parseJSON(arg);
                            if(callback_dic.status){
                                var data = callback_dic.data
                                if (data.length >0){
                                    for (var i = 0; i < data.length; i++) {
                                        //console.info(data[i].nick_name);
                                        var pOption = "<option value='"+data[i].field_id+"'>"+data[i].nick_name+"</option>";
                                        $("#selectOptionId").append(pOption);
                                    }
                                    console.info($("#selectOptionId").text())
                                    $("#myModalLabel").text("查看博主数据");
                                    $("#input_type_name").text("请选择博主");
                                    $("#btn_submit").text("确认");
                                    $('#myModal').modal();
                                }
                                else{
                                    $("#smallmodalLabel").text("失败");
                                    $("#infoDetailLabel").text("当前您未关注任何博主，请先添加观测！");
                                    $('#smallmodal').modal();
                                }

                            }else{
                                //alert(callback_dic.error); //把错误的信息从后台提出展示出来
                                $("#smallmodalLabel").text("失败");
                                $("#infoDetailLabel").text(callback_dic.error);
                                $('#smallmodal').modal();
                            }
                        }

                    });
            }
            function search_blog_data_diag()
            {
            $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});
              $.ajax({
                        url:"/getWeiboOption/",
                        type:'POST',
                        success: function (arg) {    //如果程序执行成功就会执行这里的函数
                            var callback_dic = $.parseJSON(arg);
                            if(callback_dic.status){
                                var data = callback_dic.data
                                if (data.length >0){
                                    for (var i = 0; i < data.length; i++) {
                                        //console.info(data[i].nick_name);
                                        var pOption = "<option value='"+data[i].field_id+"'>"+data[i].field_id+"</option>";
                                        $("#selectOptionId").append(pOption);
                                    }
                                    console.info($("#selectOptionId").text())
                                     $("#myModalLabel").text("查看微博数据");
                                     $("#input_type_name").text("请选择微博ID");
                                     $("#btn_submit").text("确认");
                                     $('#myModal').modal();
                                }
                                else{
                                    $("#smallmodalLabel").text("失败");
                                    $("#infoDetailLabel").text("当前您未关注任何微博，请先添加观测！");
                                    $('#smallmodal').modal();
                                }

                            }else{
                                //alert(callback_dic.error); //把错误的信息从后台提出展示出来
                                $("#smallmodalLabel").text("失败");
                                $("#infoDetailLabel").text(callback_dic.error);
                                $('#smallmodal').modal();
                            }
                        }

                    });

            }
            function search_blogger_homepage_diag()
            {
            $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});
              $.ajax({
                        url:"/getBloggerOption/",
                        type:'POST',
                        success: function (arg) {    //如果程序执行成功就会执行这里的函数
                            var callback_dic = $.parseJSON(arg);
                            if(callback_dic.status){
                                var data = callback_dic.data
                                if (data.length >0){
                                    for (var i = 0; i < data.length; i++) {
                                        //console.info(data[i].nick_name);
                                        var pOption = "<option value='"+data[i].field_id+"'>"+data[i].nick_name+"</option>";
                                        $("#selectOptionId").append(pOption);
                                    }
                                    console.info($("#selectOptionId").text())
                                    $("#myModalLabel").text("查看博主主页");
                                    $("#input_type_name").text("请选择博主");
                                    $("#btn_submit").text("确认");
                                    $('#myModal').modal();
                                }
                                else{
                                    $("#smallmodalLabel").text("失败");
                                    $("#infoDetailLabel").text("当前您未关注任何博主，请先添加观测！");
                                    $('#smallmodal').modal();
                                }

                            }else{
                                //alert(callback_dic.error); //把错误的信息从后台提出展示出来
                                $("#smallmodalLabel").text("失败");
                                $("#infoDetailLabel").text(callback_dic.error);
                                $('#smallmodal').modal();
                            }
                        }

                    });

            }

            function handle_search()
            {
              var search_id =$("#selectOptionId option:selected").val();
              //var search_id =  document.getElementById("txt_search_id").value//$('#txt_user_id').value
              var search_type = $("#myModalLabel").text()
              /*var search_type_id = 0
              if(search_type == '查看微博数据'){
                  search_type_id = 1
              }
              else if (search_type == '查看博主数据'){
                  search_type_id = 2
              }
              else if(search_type == '查看博主主页'){
                  search_type_id = 0//默认为0
              }*/
              $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});
              $.ajax({
                        url:"/handleSearch/",
                        type:'POST',
                        data:{search_id:search_id,search_type:search_type},
                        success: function (arg) {    //如果程序执行成功就会执行这里的函数
                            var callback_dic = $.parseJSON(arg);
                            if(callback_dic.status){
                                if(search_type == '查看微博数据'){
                                    location.href="/weibo/"+search_id;
                                }
                                else if (search_type == '查看博主数据'){
                                    location.href="/blogger/"+search_id;
                                }
                                else if (search_type == '查看博主数据'){
                                    location.href="/blogger/"+search_id;
                                }
                                else if(search_type == '查看博主主页'){
                                    location.href="/u/"+search_id;
                                }
                                else if(search_type == '查看博主数据(天池)'){
                                    location.href="/bloggerTianchi/"+search_id;
                                }
                            }else{
                                //alert(callback_dic.error); //把错误的信息从后台提出展示出来
                                $("#smallmodalLabel").text("失败");
                                $("#infoDetailLabel").text(callback_dic.error);
                                $('#smallmodal').modal();
                            }
                        }

                    });
            }

            function remove_option(){
                $("#selectOptionId").empty();
            }
       </script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="remove_option()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">查看博主数据</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <!--<label for="txt_search_id" id="input_type_name">博主ID</label>
                        <input type="text" name="txt_departmentname" class="form-control" id="txt_search_id">-->

                        <select name="selectSm" id="selectOptionId" class="form-control-sm form-control">
                                                <!--<option value="0">24小时</option>
                                                <option value="1">12小时</option>
                                                <option value="2">6小时</option>
                                                <option value="3">4小时</option>
                                                <option value="4">2小时</option>
                                                <option value="5">1小时</option>-->
                                            </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="remove_option()" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" onclick="handle_search()" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>确认</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="smallmodalLabel">失败</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body" id = "infoDetailLabel">
                            <p>
                               新增失败！
                            </p>
                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>


<div class="modal fade" id="smallmodalnobutton" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabelnobutton" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="smallmodalLabelnobutton">失败</h5>

                        </div>
                        <div class="modal-body" id = "infoDetailLabelnobutton">
                            <p>
                               新增失败！
                            </p>
                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
                        </div>
                    </div>
                </div>
            </div>
</body>
{% block javascript %}
            添加内容
{% endblock javascript %}

</html>
