{% extends "base.html" %}
{% load staticfiles %}
    {% block context %}

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <center class="m-t-30"> <img src="{% static 'index/assets/images/users/5.jpg' %}" class="img-circle" width="150">
                                    <h4 class="card-title m-t-10">名字</h4>
                                    <h6 class="card-subtitle">简介</h6>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-block">
                                <form class="form-horizontal form-material">
                                    <div class="form-group">
                                        <label class="col-md-12">真实姓名</label>
                                        <div class="col-md-12">
                                            <input id = "name" value="{{my_info.name}}" type="text" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">用户名/昵称</label>
                                        <div class="col-md-12">
                                            <input id = "nick_name" value="{{my_info.nick_name}}" type="text" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id = "btn_div" class="col-sm-12">
                                            <button id="btn_to_update" type="button" class="btn btn-primary">更新信息</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>

                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->

    {% endblock context %}

{% block javascript %}

<script type="text/javascript">
	/*$(function() {
		$("#myButton4").click(function(){
			$("#selfModalLabel").text("新增博主");
    $('#selfModal').modal();
		});
	});*/
		$(function() {
		$("#btn_to_update").click(function(){
        var name = $("#name").val()
        var phone = $("#phone").val()
        var nick_name = $("#nick_name").val()
        var password = $("#password").val()
        if(name == ''){
            $("#selfsmallmodalLabel").text("更新失败");
            $("#selfInfoDetailLabel").text("姓名不能为空！");
            $('#selfSmallModal').modal();
        }
        else if(nick_name.length < 2){
            $("#selfsmallmodalLabel").text("更新失败");
            $("#selfInfoDetailLabel").text("用户名/昵称不规范！(长度须大于等于2)");
            $('#selfSmallModal').modal();
        }
        else{
            $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});
              $.ajax({
                        url:"/self/updateToDB/",
                        type:'POST',
                        data:{name:name,nick_name:nick_name},
                        success: function (arg) {    //如果程序执行成功就会执行这里的函数
                            var callback_dic = $.parseJSON(arg);
                            if(callback_dic.status){
                                alert("更新成功！即将进入首页")
                                location.href="/self";
                            }else{
                                //alert(callback_dic.error); //把错误的信息从后台提出展示出来
                                $("#selfsmallmodalLabel").text("失败");
                                $("#selfInfoDetailLabel").text(callback_dic.error);
                                $('#selfSmallModal').modal();
                            }
                        }

                    });

        }
        });

	});

</script>

<div class="modal fade" id="selfModal" tabindex="-1" role="dialog" aria-labelledby="selfModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="selfModalLabel">新增</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txt_user_id">博主ID</label>
                        <input type="text" name="txt_departmentname" class="form-control" id="txt_user_id" placeholder="博主ID">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" onclick="add_observer()" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="selfSmallModal" tabindex="-1" role="dialog" aria-labelledby="selfsmallmodalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="selfsmallmodalLabel">新增失败</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body" id = "selfInfoDetailLabel">
                            <p>
                               新增失败！
                            </p>
                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock javascript %}